.welcome-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.welcome-div img{
    height: 35%;
    width: 50%;
}

.welcome-div h3{
    font-size: 3em;
    margin: 1vw;

}

.paragraph{
    width: 45%;
    text-align: center;
    line-height: normal;
    font-size: 1em;
    font-weight: 650;
}

.encrypt-div{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1vw;
}
.encrypt-div i{
margin: 0 0.6vw;
}

@media screen and (max-width: 600px) {
    .welcome-div{
        display: none;
    }

}